caddy/caddy
caddy/images
test-server/

apps/frontend/dist
apps/frontend/.cache
apps/frontend/node_modules
apps/frontend/npm-debug.log*

target/
storefront.iml
.idea/
.classpath
.project
.settings/

.git
**/node_modules
**/.env
**/.env.*

**/dist
**/.cache
dev/reports
