caddy/caddy
caddy/images
test-server/

apps/frontend/dist
apps/frontend/.cache
apps/frontend/npm-debug.log*

apps/discord/.env
apps/discord/dist
apps/discord/.cache
apps/discord/npm-debug.log*

target/
storefront.iml
.idea/
.classpath
.project
.settings/

apps/frontend/.env.local
apps/frontend/coverage/

apps/frontend/public/images/

dev/reports/catalog.json
dev/reports/catalog-*.png

packages/*/dist/
node_modules/
