caddy/caddy
caddy/images
test-server/

storefront-frontend/dist
storefront-frontend/.cache
storefront-frontend/node_modules
storefront-frontend/npm-debug.log*

target/
storefront.iml
.idea/
.classpath
.project
.settings/
