http://localhost:2015 {
  redir /storefront/sf /storefront/sf/
  route /storefront/sf/* {
    reverse_proxy sys.the.home:2015
  }

  redir /storefront /storefront/
  route /storefront* {
    reverse_proxy 127.0.0.1:1234
  }
}
