body {
  margin: 0;
  font-family: "Minecraft Regular";
  src: url("font/mc-Regular.eot?") format("eot"), url("font/mc-Regular.woff") format("woff"), url("font/mc-Regular.ttf") format("truetype"), url("font/mc-Regular.svg#mc-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  background-image: url("stone-backdrop.png");
}

#app-root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  width: 100%;
  color: white;
  text-align: center;
}

#refresh {
  width: 100%;
  text-align: center;
}

.user {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.user-name {
  text-align: center;
}
.user-name p {
  font-size: 2rem;
  margin: 0;
  color: white;
}

.storefront {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  width: 34rem;
  justify-content: center;
  align-content: center;
}

.sign {
  margin-right: 1rem;
  text-align: center;
  background-color: #B38C51;
  width: 10rem;
  height: 5.4rem;
  align-self: center;
  background-image: url("sign.png");
}
.sign p {
  margin: 0.5rem;
}

.items {
  display: flex;
  flex-wrap: wrap;
  width: 22.5rem;
}
.item {
  height: 2.25rem;
  width: 2.25rem;
  border: 0.1rem solid #555;
  border-bottom: 0.1rem solid #EEE;
  border-right: 0.1rem solid #EEE;
  background-color: #9B9B9B;
}
.item img {
  height: 100%;
  width: 100%;
  image-rendering: pixelated;
}
.item-meta {
  position: absolute;
}

#material-tester {
  display: flex;
  flex-wrap: wrap;
}
#material-tester p {
  text-align: center;
}
#material-tester > div {
  width: 10%;
  display: flex;
  flex-direction: column;
}
#material-tester .item {
  align-self: center;
}
